@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*font-family: 'Poiret One', sans-serif;*/

@font-face{
    font-family: "led clock";
    src: url('../fonte/ledsledital.ttf') format('truetype');
}

:root{
    --cor01: #026773;
    --cor02: #026773;
    --cor03: #026773;
    --cor04: #024959;
    --cor05: #012E40;
    --corDestaque: #F2E3D5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--corDestaque);
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #026773;
}

.relogio{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 90vw;
    max-width: 1200px;
    height: 33vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor05);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.607);
}

.caixa{
    height: 100%;
    width: 20%;
    max-width: 250px;
    position: relative;
}


.caixa > span{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "led clock", sans-serif;
    font-size: 8.5rem;
    text-align: center;
}

.nada > span{
    font-family: "led clock", sans-serif;
    font-size: 8.5rem;
}

.caixa > p{
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 2%;
    font-size: 1.1rem;
    font-family: 'Poiret One', sans-serif;
    text-align: center;
}

.crono-board{
    position: absolute;
    bottom: 18vh;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--cor05);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.607);
}

.cronometro{
    display: flex;
    justify-content: space-evenly;
}

.caixa2{
    text-align: center;
    width: 40px;
}

.caixa2 > span{
    font-size: 1.4rem;
    font-family: "led clock", sans-serif;
}

.controle{
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
}

.controle > button{
    font-family: sans-serif;
    text-align: center;
    height: 25px;
    width: 100px;
    padding: 5px 10px;
    margin: 0px 5px;
    transition: 0.5s;
    background-color: var(--cor01);
    border-radius: 10px;
    transition: 0.5s;
}

.controle > button:hover{
    color: var(--cor05);
}

#pausar{
    display: none;
}
#continuar{
    display: none;
}
#zerar{
    display: none;
}

@media (max-width: 570px){
    .relogio{
        top: 35%;
    }

    .crono-board{
        bottom: 30vh;
    }

    .caixa{
        height: 40%;
        top: 50%;
        transform: translate(0, -50%);
    }
    .caixa > p{
        font-size: 0.9rem;
    }
    .nada{
        position: relative;
    }

    .caixa > span{
        font-size: 3.5rem;
    }

    .nada > span{
        font-size: 4rem;
        position: absolute;
        top: 45%;
        transform: translate(-50%, -50%);
    }
}












